
<div class="jumbotron text-center">
    <h2>About Us</h2>
    <h5>
    Our platform has one simple purpose, and that is, to connect entrepreneurs,
    developers, and investors together to build amazing things for the world. 
    If you have any suggestions on how we could improve our site, please send us 
    a message on the contacts page. 
    <h5>
</div>