<!--For the homepage, use the jumbotron class and text-center to arrange the layout -->
<div class="jumbotron text-center">
    <h1>Welcome To Dev Match</h1>
    <p>A platform where entrepreneurs can meet investors and developers.</p>
</div>
